@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#E2E2E2] text-[#605F5E]
  }

 
}

html {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}